<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <style>
  .malt-input {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: row;
  }
  .hop-input {
    display: flex;
    flex-direction: row;
  }
  .yeast-input {
    display: flex;
    flex-direction: row;
  }
  .method textarea {
    width: 500px;
    height: 200px;
  }
  </style>

  <h3>Malts</h3>
  <div class="malt-inputs">
    <%= f.fields_for :malts do |malt| %>
      <div class="malt-input">
        <div class="field">
          <%= malt.label :name %>
          <%= malt.text_field :name %>
        </div>

        <div class="field">
          <%= malt.label :malt_type %>
          <%= malt.select(:malt_type, maltType) %>
        </div>

        <div class="field">
          <%= malt.label :use %>
          <%= malt.select(:use, maltUse) %>
        </div>

        <div class="field">
          <%= malt.label :EBC %>
          <%= malt.text_field :EBC %>
        </div>

        <div class="field">
          <%= malt.label :ppg %>
          <%= malt.text_field :ppg %>
        </div>

        <div class="field">
          <%= malt.label :quantity %>
          <%= malt.text_field :quantity %>
        </div>

        <div class="field">
          <%= malt.hidden_field :_destroy, :value => false, :class => 'destroy' %>
        </div>

        <div class="field">
          <%= malt.label :remove %>
          <button type="button" class="del-ingredient-btn btn">x</button>
        </div>
      </div>
    <% end %>
  </div>
  <button type="button" class="add-ingredient-btn btn" data-type="malt">+</button>

  <h3>Hops</h3>
  <div class="hop-inputs">
    <%= f.fields_for :hops do |hop| %>
      <div class="hop-input">
        <div class="field">
          <%= hop.label :name %>
          <%= hop.text_field :name %>
        </div>

        <div class="field">
          <%= hop.label :use %>
          <%= hop.select :use, hopUse %>
        </div>

        <div class="field">
          <%= hop.label :origin %>
          <%= hop.text_field :origin %>
        </div>

        <div class="field">
          <%= hop.label :aa %>
          <%= hop.text_field :aa %>
        </div>

        <div class="field">
          <%= hop.label :quantity %>
          <%= hop.text_field :quantity %>
        </div>

        <div class="field">
          <%= hop.hidden_field :_destroy, :value => false, :class => 'destroy' %>
        </div>

        <div class="field">
          <%= hop.label :remove %>
          <button type="button" class="del-ingredient-btn btn">x</button>
        </div>

      </div>
    <% end %>
  </div>
  <button type="button" class="add-ingredient-btn btn" data-type="hop">+</button>

  <h3>Yeast</h3>
  <div class="yeast-inputs">
    <%= f.fields_for :yeasts do |yeast| %>
      <div class="yeast-input">

        <div class="field">
          <%= yeast.label :name %>
          <%= yeast.text_field :name %>
        </div>

        <div class="field">
          <%= yeast.label :fermentation_type %>
          <%= yeast.select :fermentation_type, yeastType %>
        </div>

        <div class="field">
          <%= yeast.label :temp_range %>
          <%= yeast.text_field :temp_range %>
        </div>

        <div class="field">
          <%= yeast.hidden_field :_destroy, :value => false, :class => 'destroy' %>
        </div>

        <div class="field">
          <%= yeast.label :remove %>
          <button type="button" class="del-ingredient-btn btn">x</button>
        </div>

      </div>
    <% end %>
  </div>
  <button type="button" class="add-ingredient-btn btn" data-type="yeast">+</button>

  <div class="method field">
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
