<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <h3>Malts</h3>
    <%= f.fields_for :malts do |malt| %>

    <div class="field">
      <%= malt.label :name %>
      <%= malt.text_field :name %>
    </div>

    <div class="field">
      <%= malt.label :malt_type %>
      <% options = options_for_select([['Grain', 'grain'], ['DME', 'dme'], ['LME', 'lme']]) %>
      <%= malt.select(:malt_type, options) %>
    </div>

    <div class="field">
      <%= malt.label :use %>
      <% options = options_for_select([['Base Malt', 'base malt'], ['Other', 'other']]) %>
      <%= malt.select(:use, options) %>
    </div>

    <div class="field">
      <%= malt.label :EBC %>
      <%= malt.text_field :EBC %>
    </div>

    <div class="field">
      <%= malt.label :ppg %>
      <%= malt.text_field :ppg %>
    </div>

    <div class="field">
      <%= malt.label :quantity %>
      <%= malt.text_field :quantity %>
    </div>

    <% end %>

  <h3>Hops</h3>
    <%= f.fields_for :hops do |hop| %>

    <div class="field">
      <%= hop.label :name %>
      <%= hop.text_field :name %>
    </div>

    <div class="field">
      <%= hop.label :use %>
      <% options = options_for_select([['Aroma', 'aroma'], ['Bittering', 'bittering'], ['Both', 'both']]) %>
      <%= hop.select :use, options %>
    </div>

    <div class="field">
      <%= hop.label :origin %>
      <%= hop.text_field :origin %>
    </div>

    <div class="field">
      <%= hop.label :aa %>
      <%= hop.text_field :aa %>
    </div>

    <div class="field">
      <%= hop.label :quantity %>
      <%= hop.text_field :quantity %>
    </div>

    <% end %>

  <h3>Yeast</h3>
    <%= f.fields_for :yeasts do |yeast| %>

    <div class="field">
      <%= yeast.label :name %>
      <%= yeast.text_field :name %>
    </div>

    <div class="field">
      <%= yeast.label :fermentation_type %>
      <% options = options_for_select([['Ale', 'ale'], ['Lager', 'larger']]) %>
      <%= yeast.select :fermentation_type, options %>
    </div>

    <div class="field">
      <%= yeast.label :temp_range %>
      <%= yeast.text_field :temp_range %>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
