<%= form_for rating, get_options_hash(type, rating) do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :recipe_id, :value => @recipe.id %>

  <div class="field form-group">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
<% end %>
