<%
  #pass mode: :user_only for only rendering that user's recipes (dispenses with 'By: user.name')
  #otherwise, pass mode: :all
%>

<li class="recipe-list-item">
  <div class="recipe-container">

    <div class="recipe-title-container">
      <a class="recipe-link" href="<%= recipe_path(recipe) %>">
        <div class="recipe-colour">
          <%= image_tag 'glass_small.png', data: (recipe.colour || 0), class: 'predicted-colour' %>
        </div>
        <div class="recipe-title">
          <div>
            <h3 class="recipe-name"><%= recipe.name %></h3>
            <p class="recipe-style"><%= get_style(recipe.style).name %></p>
          </div>
        </div>
      </a>
    </div>

    <div class="recipe-meta">
      <% unless mode == :user_only %>
        <span class="recipe-author"><%= fa_icon 'user' %> <%= link_to recipe.user.name %>&#8195;</span>
      <% end %>
      <span class="recipe-views"><%= fa_icon 'eye' %> <%= recipe.views %>&#8195;</span>
      <span class="recipe-rating"><ul class="c-rating" data-rating="<%= get_average_rating recipe %>"></ul></span>
    </div>

  </div>
</li>
