<%
  #pass mode: :user_only for only rendering that user's recipes (dispenses with 'By: user.name')
  #otherwise, pass mode: :all
%>

<li class="recipe-list-item">
  <div class="recipe-container">

    <div class="recipe-title-container">
      <a class="recipe-link" href="<%= recipe_path(recipe) %>">
        <div class="recipe-color"></div>
        <div class="recipe-title">
          <div>
            <h3 class="recipe-name"><%= recipe.name %></h3>
            <% if recipe.style %><p class="recipe-style"><%= recipe.style %></p><% end %>
          </div>
        </div>
      </a>
    </div>

    <div class="recipe-meta">
      <% unless mode == :user_only %>
        <span class="recipe-author">By: <%= link_to recipe.user.name %> &bull;</span>
      <% end %>
      <span class="recipe-rating">Rating: <%= get_aggregate_rating recipe %></span>
      <span class="recipe-views">Views: <%= recipe.views %></span>
    </div>

  </div>
</li>
