<% provide :title, @recipe.name %>

<div class="header">
  <h2><%= @recipe.name %></h2>
  <h4><%= @recipe.style %></h4>

  <p>By <%= link_to @recipe.user.name, @recipe.user %></p>
</div>

<div>
  <table>
    <tr><td><h3>Malt</h3></td></tr>
    <% @recipe.malts.each do |malt| %>
      <tr><td><%= malt.name %></td><td><%= malt.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Hops</h3></td></tr>
    <% @recipe.hops.each do |hop| %>
      <tr><td><%= hop.name %></td><td><%= hop.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Yeast</h3></td></tr>
    <% @recipe.yeasts.each do |yeast| %>
      <tr><td><%= yeast.name %></td></tr>
    <% end %>
  </table>

</div>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) if @recipe.user == @current_user %>

<span class="recipe-rating"><ul class="c-rating" data-rating="<%= get_average_rating @recipe %>"></ul><span>

<% if(logged_in? && @current_user != @recipe.user) %>
  <% rated?(@current_user, @recipe) ? rating = get_user_rating(@current_user, @recipe) : rating = 0 %>
  <h4>
    <span>Your rating:</span>
    <span class="user-rating"><%= rating %></span>
  </h4>
<% end %>
