<% provide :title, @recipe.name %>

<div class="header">
  <h2>
    <%= @recipe.name %>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => 'btn btn-primary' if @recipe.user == @current_user %>
  </h2>
  <h4 class="recipe-style" data-style-id="<%= @recipe.style %>">
    <%= get_style(@recipe.style).name %>
    <%= fa_icon 'info-circle', class: 'get-style-info' %>
  </h4>

  <div class="style-info-container" style="display: none;">
    <p><strong>Appearance:</strong> <span class="style-appearance"></span></p>
    <p><strong>Aroma:</strong> <span class="style-aroma"></span></p>
    <p><strong>Flavor:</strong> <span class="style-flavor"></span></p>
  </div>

  <div>
    <span><%= fa_icon 'user' %> <%= link_to @recipe.user.name, @recipe.user %>&#8195;</span>
    <span class="recipe-rating"><ul class="c-rating" data-rating="<%= get_average_rating @recipe %>"></ul><span>
  </div>
</div>

<div>
  <table>
    <tr><td><h3>Malt</h3></td></tr>
    <% @recipe.recipe_malts.each do |malt| %>
      <tr><td><%= ingredients[:malts][malt.malt.to_sym][:name] %></td><td><%= malt.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Hops</h3></td></tr>
    <% @recipe.recipe_hops.each do |hop| %>
      <tr><td><%= ingredients[:hops][hop.hop.to_sym][:name] %></td><td><%= hop.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Yeast</h3></td></tr>
    <% @recipe.recipe_yeasts.each do |yeast| %>
      <tr><td><%= ingredients[:yeasts][yeast.yeast.to_sym][:name] %></td></tr>
    <% end %>
  </table>
</div>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>
