<% provide :title, @recipe.name %>

<p id="notice"><%= notice %></p>

<div class="header">
  <h2><%= @recipe.name %></h2>

  <p>By <%= link_to @recipe.user.name, @recipe.user %></p>
</div>



<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
