<% provide :title, @recipe.name %>

<div class="header">
  <h2>
    <%= @recipe.name %>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => 'btn btn-primary' if @recipe.user == @current_user %>
  </h2>
  <h4><%= @recipe.style %></h4>

  <div>
    <span>By <%= link_to @recipe.user.name, @recipe.user %></span>
    <span class="recipe-rating"><ul class="c-rating" data-rating="<%= get_average_rating @recipe %>"></ul><span>
  </div>
</div>

<div>
  <table>
    <tr><td><h3>Malt</h3></td></tr>
    <% @recipe.malts.each do |malt| %>
      <tr><td><%= malt.name %></td><td><%= malt.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Hops</h3></td></tr>
    <% @recipe.hops.each do |hop| %>
      <tr><td><%= hop.name %></td><td><%= hop.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Yeast</h3></td></tr>
    <% @recipe.yeasts.each do |yeast| %>
      <tr><td><%= yeast.name %></td></tr>
    <% end %>
  </table>
</div>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>
