<% provide :title, @recipe.name %>

<p id="notice"><%= notice %></p>

<div class="header">
  <h2><%= @recipe.name %></h2>

  <p>By <%= link_to @recipe.user.name, @recipe.user %></p>
</div>

<% recipeData = getRecipeIngredients(@recipe) %>
<table>
  <tr><td>Malt</td></tr>
  <% recipeData[:malts].each do |malt| %>
    <tr><td><%= malt[:name] %></td><td><%= malt[:quantity] %>g</td></tr>
  <% end %>
  <tr><td>Hops</td></tr>
  <% recipeData[:hops].each do |hop| %>
    <tr><td><%= hop[:name] %></td><td><%= hop[:quantity] %>g</td></tr>
  <% end %>
  <tr><td>Yeast</td></tr>
  <% recipeData[:yeasts].each do |yeast| %>
    <tr><td><%= yeast[:name] %></td><td><%= yeast[:quantity] %></td></tr>
  <% end %>
</table>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
