<% provide :title, @recipe.name %>

<div class="header">
  <h2><%= @recipe.name %></h2>

  <p>By <%= link_to @recipe.user.name, @recipe.user %></p>
</div>

<div>
  <table>
    <tr><td><h3>Malt</h3></td></tr>
    <% @recipe.malts.each do |malt| %>
      <tr><td><%= malt.name %></td><td><%= malt.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Hops</h3></td></tr>
    <% @recipe.hops.each do |hop| %>
      <tr><td><%= hop.name %></td><td><%= hop.quantity %></td></tr>
    <% end %>
    <tr><td><h3>Yeast</h3></td></tr>
    <% @recipe.yeasts.each do |yeast| %>
      <tr><td><%= yeast.name %></td></tr>
    <% end %>
  </table>

</div>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) if @recipe.user == current_user %>

<h4>Community Rating: <%= get_aggregate_rating(@recipe) %></h4>

<% if(logged_in? && current_user != @recipe.user) %>
  <% if rated?(current_user, @recipe) %>
    <% rating = get_user_rating(current_user, @recipe) %>
    <h4>Your rating: <%= rating.rating %></h4>
    <%= render 'rating_form', rating: rating, type: :edit %>
  <% else %>
    <h4>Rate this recipe</h4>
    <%= render 'rating_form', rating: :rating, type: :create %>
  <% end %>
<% end %>
