<% provide :title, @recipe.name %>

<div class="header">
  <div class="recipe-colour">
    <%= image_tag 'glass_small.png', data: (@recipe.colour || 0), class: 'predicted-colour' %>
  </div>
  <div>
    <h2>
      <%= @recipe.name %>
      <% if @recipe.user == @current_user %>
        <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => 'btn btn-primary' %>
        <%=
          link_to 'Delete Recipe', recipe_path, method: :delete, class: 'btn btn-primary',
          data: { confirm: "Are you sure you want to delete #{@recipe.name}?" }
        %>
      <% end %>
    </h2>

    <%= render 'style_info', style: get_style(@recipe.style, :json), index: 0 %>

    <div>
      <span><%= fa_icon 'user' %> <%= link_to @recipe.user.name, @recipe.user %>&#8195;</span>
      <span class="recipe-rating"><ul class="c-rating" data-rating="<%= get_average_rating @recipe %>"></ul><span>
    </div>
  </div>
</div>

<div class="recipe-info">
  <table>
    <tr><td><h3>Malt</h3></td></tr>
    <% @recipe.recipe_malts.each do |malt| %>
      <tr>
        <td><%= ingredients[:malts][malt.handle.to_sym][:name] %></td>
        <td class="qty" data-type="malts" data="<%= malt.quantity %>"></td>
        <td class="qty-unit"></td>
      </tr>
    <% end %>
    <tr><td><h3>Hops</h3></td></tr>
    <% @recipe.recipe_hops.each do |hop| %>
      <tr>
        <td><%= ingredients[:hops][hop.handle.to_sym][:name] %></td>
        <td class="qty" data-type="hops" data="<%= hop.quantity %>"></td>
        <td class="qty-unit"></td>
      </tr>
    <% end %>
    <tr><td><h3>Yeast</h3></td></tr>
    <% @recipe.recipe_yeasts.each do |yeast| %>
      <tr>
        <td><%= ingredients[:yeasts][yeast.handle.to_sym][:name] %></td>
      </tr>
    <% end %>
  </table>

  <p>
    <h3>Method</h3>
    <%= @recipe.method %>
  </p>
</div>
