<% provide :title, @recipe.name %>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recipe.user.name %>
</p>

<p>
  <strong>Recipe Name:</strong>
  <%= @recipe.name %>
</p>

<% @recipe.recipe_ingredients.all.each do |ingredient| %>
<p>
  <% ingredientData = Ingredient.find(ingredient.ingredient_id) %>
  <strong><%= ingredientData.ingredient_type %></strong>
  <%= ingredientData.name %>
  <%= ingredient.quantity %> grams
</p>
<% end %>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
