<% provide :title, @user.name %>

<p id="notice"><%= notice %></p>

<h2>
  <%= gravatar_for @user, 'large' %>
  <%= @user.name %>
</h2>

<% if @user.location %>
  <p>
    <strong>Location</strong>
    <%= @user.location %>
  </p>
<% end %>

<h3>Recipes by <%= @user.name %></h3>
<table>
  <% @user.recipes.each do |recipe| %>
  <tr><td><%= link_to recipe.name, recipe %></td></tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
