<% provide :title, @user.name %>

<p id="notice"><%= notice %></p>

<h2>
  <%= get_gravatar @user, 'large' %>
  <%= @user.name %>
  <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-primary' if current_user == @user %>
</h2>

<% if !(@user.location.nil? || @user.location.empty?) %>
  <p>
    <strong>Location</strong>
    <%= @user.location %>
  </p>
<% end %>

<% if @user.recipes.length > 0 %>
  <h3><%= @user == current_user ? "Your Recipes" : "Recipes by #{@user.name}" %></h3>
  <table>
    <% @user.recipes.each do |recipe| %>
    <tr><td><%= link_to recipe.name, recipe %></td></tr>
    <% end %>
  </table>
<% end %>
