<% provide :title, @user.name %>

<h2>
  <%= get_gravatar @user, :large %>
  <%= @user.name %>
  <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-primary' if current_user == @user %>
</h2>

<% unless(@user.location.nil? || @user.location.empty?) %>
  <p>
    <strong>Location:</strong>
    <%= @user.location %>
  </p>
<% end %>

<h3><%= @user == current_user ? "Your Recipes" : "Recipes by #{@user.name}" %></h3>
<% if @user.recipes.length > 0 %>
  <table>
    <% @user.recipes.each do |recipe| %>
    <tr><td><%= link_to recipe.name, recipe %></td></tr>
    <% end %>
  </table>
<% else %>
  <% if @user == current_user %>
    <p>You don't yet have any recipes of your own. <%= link_to 'Click here', new_recipe_url %> to make one.</p>
  <% else %>
    <p><%= "#{@user.name} hasn't added any recipes yet." %></p>
  <% end %>
<% end %>
