<%= form_for(ingredient) do |f| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "ingredient_type" %>
    <select id="ingredient_type" name="ingredient[ingredient_type]">
      <option value="malt">Malt</option>
      <option value="hops">Hops</option>
      <option value="yeast">Yeast</option>
    </select>
  </div>

  <%= f.fields_for :malt, Malt.new do |malt| %>

    <div class="field malt-input">
      <%= malt.label :malt_type %>
      <%= malt.select(:malt_type) do %>
        <% [['Grain', 'grain'], ['DME', 'dme'], ['LME', 'lme']].each do |o| %>
          <%= content_tag(:option, o.first, value: o.last) %>
        <% end %>
      <% end %>
    </div>

    <div class="field malt-input">
      <%= malt.label :use %>
      <%= malt.select(:use) do %>
        <% [['Base Malt', 'base'], ['Other', 'other']].each do |o| %>
          <%= content_tag(:option, o.first, value: o.last) %>
        <% end %>
      <% end %>
    </div>

    <div class="field malt-input">
      <%= malt.label :EBC %>
      <%= malt.text_field :EBC %>
    </div>

    <div class="field malt-input">
      <%= malt.label :GPK %>
      <%= malt.text_field :GPK %>
    </div>

    <div class="field malt-input">
      <%= malt.label :description %>
      <%= malt.text_area :description %>
    </div>
  <% end %>

  <%= f.fields_for :hop, Hop.new do |hop| %>

    <div class="field hop-input">
      <%= hop.label :use %>
      <%= hop.select(:use) do %>
        <% [['Bittering', 'bittering'], ['Aroma', 'aroma'], ['Both', 'both']].each do |o| %>
          <%= content_tag(:option, o.first, value: o.last) %>
        <% end %>
      <% end %>
    </div>

    <div class="field hop-input">
      <%= hop.label :origin %>
      <%= hop.text_field :origin %>
    </div>

    <div class="field hop-input">
      <%= hop.label :aa %>
      <%= hop.text_field :aa %>
    </div>

    <div class="field hop-input">
      <%= hop.label :description %>
      <%= hop.text_area :description %>
    </div>

  <% end %>

  <%= f.fields_for :yeast, Yeast.new do |yeast| %>

  <div class="field yeast-input">
    <%= yeast.label :fermentation_type %>
    <%= yeast.select(:fermentation_type) do %>
      <% [['Ale', 'ale'], ['Lager', 'lager']].each do |o| %>
        <%= content_tag(:option, o.first, value: o.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field yeast-input">
    <%= yeast.label :temp_range %>
    <%= yeast.text_field :temp_range %>
  </div>

  <div class="field yeast-input">
    <%= yeast.label :description %>
    <%= yeast.text_area :description %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
