<% provide :title, "Settings" %>

<%= form_for @user_preference do |f| %>
  <% if @user_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_preference.errors.count, "error") %> prohibited your preferences from being updated:</h2>

      <ul>
      <% @user_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Volume</h4>
  <div class="field form-group radio">
    <%= f.radio_button :volume, "L" %>
    <%= f.label :volume_l, "Litres", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :volume, "G" %>
    <%= f.label :volume_g, "US Gallons", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :volume, "B" %>
    <%= f.label :volume_b, "Imperial Gallons", :class => "radio-label" %>
  </div>

  <h4>Weight</h4>
  <div class="field form-group radio">
    <%= f.radio_button :weight_big, "K" %>
    <%= f.label :weight_big_k, "Metric", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :weight_big, "I" %>
    <%= f.label :weight_big_i, "Imperial", :class => "radio-label" %>
  </div>

  <h4>Temperature</h4>
  <div class="field form-group radio">
    <%= f.radio_button :temp, "C" %>
    <%= f.label :temp_c, "Celcius", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :temp, "F" %>
    <%= f.label :temp_f, "Fahrenheit", :class => "radio-label" %>
  </div>

  <h4>Default Efficiency</h4>
  <div class="field form-group">
    <%= f.number_field :default_efficiency, min: 0, max: 100, style: 'width: 50px' %> %
  </div>

  <h4>Default Batch Volume</h4>
  <div class="field form-group">
    <%= f.hidden_field :default_batch_volume, id: 'batch-model' %>
    <input id="batch-display" style="width: 50px;" />
    <span class="volume-unit"><%= get_unit_symbol(@user_preference.volume) %></span>
  </div>

  <div class="actions form-group">
    <%= f.submit "Update Settings", :class => 'btn btn-primary' %>
  </div>

<% end %>
