<% provide :title, "Settings" %>

<%= form_for @user_preference do |f| %>
  <% if @user_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_preference.errors.count, "error") %> prohibited your preferences from being updated:</h2>

      <ul>
      <% @user_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Volume</h4>
  <div class="field form-group radio">
    <%= f.radio_button :volume, "L" %>
    <%= f.label :volume_l, "Litres", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :volume, "G" %>
    <%= f.label :volume_g, "US Gallons", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :volume, "B" %>
    <%= f.label :volume_b, "UK Gallons", :class => "radio-label" %>
  </div>

  <h4>Weight</h4>
  <div class="field form-group radio">
    <%= f.radio_button :weight, "M" %>
    <%= f.label :weight_m, "Metric", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :weight, "I" %>
    <%= f.label :weight_i, "Imperial", :class => "radio-label" %>
  </div>

  <h4>Temperature</h4>
  <div class="field form-group radio">
    <%= f.radio_button :temp, "C" %>
    <%= f.label :temp_c, "Celcius", :class => "radio-label" %>
  </div>
  <div class="field form-group radio">
    <%= f.radio_button :temp, "F" %>
    <%= f.label :temp_f, "Fahrenheit", :class => "radio-label" %>
  </div>

  <h4>Default Efficiency</h4>
  <div class="field form-group">
    <%= f.number_field :default_efficiency, style: 'width: 50px' %>%
  </div>

  <div class="actions form-group">
    <%= f.submit "Update Settings", :class => 'btn btn-primary' %>
  </div>

<% end %>
