<% provide :title, Malt %>

<p id="notice"><%= notice %></p>

<h1>Malts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Use</th>
      <th>Ebc</th>
      <th>Gpk</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @malts.each do |malt| %>
      <tr>
        <td><%= malt.name %></td>
        <td><%= malt.malt_type %></td>
        <td><%= malt.use %></td>
        <td><%= malt.EBC %></td>
        <td><%= malt.GPK %></td>
        <td><%= malt.description %></td>
        <td><%= link_to 'Show', malt %></td>
        <td><%= link_to 'Edit', edit_malt_path(malt) %></td>
        <td><%= link_to 'Destroy', malt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Malt', new_malt_path %>
